*{
    padding: 0;
    margin: 0;
}

.fondo{
    background-color: rgb(99, 53, 0);
}

.hero{
    background-image: linear-gradient(rgba(99, 53, 0, 0.158),rgba(167, 90, 3, 0.527)),
        url("img/wp2208716-pubg-wallpapers.jpg.webp");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.texto-hero{
    color:goldenrod;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto1{
    font-size: 70px;
    text-shadow: 0 0 15px rgb(73, 99, 3);
    justify-content: center;
    background-position: center
}

.texto2{
    font-size: 50px ;
    text-shadow: 15px rgb(73, 99, 3);
}

.info{
    background-color: rgb(99, 53, 0);
    color: rgb(goldenrod);
    text-shadow: 15px white;
    border-radius: 5% ;

}

.contenedor{
    width: 90%;
    margin: auto;
    padding: 80px 0;
    text-align: center;
    background-color: 99, 53, 0;
}

.titulo-info{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.contenedor-card{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    background-color: rgba(99, 53, 0);
}
.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 5px 0 black;
    border-radius: 10px;
}

.card:hover{
    box-shadow: 0 0 10px 0 black;
    transform:  scale(1.1);
    transition: transform 0.5;
    cursor: pointer;
}


.card h3{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(163, 101, 20);
}
.card p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align:  center;
}

.boton{
    background-color: rgba(61, 33, 1);
    border: 1px solid black;
    color: rgb(196, 150, 2);
    padding: 20px 10px;
    display:  inline-block;
    width: 50%;
    margin-bottom: 25px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
}

.boton:hover{
    background-color: goldenrod;
    color: grey;
    border: 3px solid black;
}

.contenedor-imagen{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.contenedor-imagen img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 35px;
    display: block;
    box-shadow: 0 0 10px 0 black;
    cursor: pointer;
    overflow: hidden;
}

.galeria{
    background-color: rgb(180, 141, 33);
}

ul{
    list-style-type: none;
    background-color: rgb(99, 53, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    color:goldenrod;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
}
li a:hover{
    background-color: rgb(87, 63, 33);
    color: rgb(goldenrod);
    transform: translateX(25%);
    transition: 0.5s;
}


.contacto{
    background-color: rgb(gray);
}

.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.input{
    background: transparent;
    border: 0;
    color: rgb(gray);
    outline: none;
    border: 1px solid rgb(oldenrod);
}

.input::placeholder{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.input-ancho{
    width: 49%;
    margin-bottom: 30px;
    display: inline-block;
    height: 50px;
}

.textarea-ancho{
    width: 100%;
    margin-bottom: 15px;
}

footer{
    width: 100%;
    margin-bottom: 15px;
    background-color: rgb(61, 33, 1);
    color: goldenrod;
    text-align: center;

}

